* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #fff;
}

body {
    background: #202020;
}

#list {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
} 

.card {
    width: 200px;
    height: 200px;
    background: #333;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.type {
    width: 50px;
}
